/*MAIN COLOR #009fff  |  rgb(0,159,255)  |  hsl(202.6,100%,50%)*/
/* COLOR2 #ff8b00 | rgb(255, 139, 0) | HSL(32.7, 100, 50)*/

@font-face {
  font-family: shabnam;
  src: url('../fonts/Shabnam.eot');
  src: url('../fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Shabnam.woff') format('woff'),
       url('../fonts/Shabnam.ttf') format('truetype');
  font-weight: normal;
}



html,body{
    font-family: shabnam , arial;
    background-color: #00629d;
    background: url('/images/mountain_op_dark.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat repeat;
    background-position: center;
    background-size: 100%;
    height: 100%;
}

#page_base
{
    left: 0px;
    top: 0px;
}

.t_navbar
{
    visibility: visible;
}

.t_slide_navbar
{
    visibility: hidden;
}


.myappform
{
    background-color: rgba(255,255,255,0.7);
    transition: 0.25s;
    padding:20px;
    max-width: 500px;
}

.myappform .form-group *
{
    float:right !important;
}

.myform_layout
{
    display: block;
}



#websiteviewer_background {
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.8); 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    min-width: 100%;
    min-height: 100%;
    border:none;
    visibility: hidden;
}

#websiteviewer_window{
    background-color: #eeeeee;
    position: fixed;
    left:5%;
    top:5%;
    width: 90%;
    height: 90%;
    border-radius: 5px 5px 5px 5px;
    border:solid 1px #eeeeee;
}


#websiteviewer_browserheader
{
    position: relative;
    left:1%;
    top:1%;
    width: 98%;
    height:20px;
    text-align:center;
}

#websiteviewer_browser
{
    position: relative;
    left:1%;
    top:22px;
    width: 98%;
    height:80%;
}

#websiteviewer_closeButton{
    position: relative;
    left:95%;
    top:0px;
    width: 4%;
    height:20px;
}

#websiteviewer_closeButton > button{
    background-color: #aa0000;
    border: none;
    color:white;
}

#website_detials
{
    position: absolute;
    top:95%;
    width: 100%;
    height: 20px;
    text-align: right;
}

#validation_image
{
    width: 32px;
    height: 32px;
    top:1px;
}


#points
{
    background-color: #eeeeee;
    display: block;
    text-align: right;
}

#pointviewer
{
    color:#555555;
    font-size: 28pt;
    
}

@keyframes homeHeaderShadow {
    0% {text-shadow: 0px 0px 30px #55eeff;}
    50% {text-shadow: 0px 0px 0px #55eeff;}
    100% {text-shadow: 0px 0px 30px #55eeff;}
}

@keframe homeHeaderShow{
    0% {opacity:0.0;}
    100% {opacity:1.0;}
}

#non_home_header_image
{
    background-color: #111111;
    background-image: url('/images/mountain_op.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 200px;
    top: 0px;
    z-index: -1;
    text-align: center;
}

#non_home_header_image h1
{
    position: relative;
    text-align: center;
    top: 25%;
    color:white;
    animation-name: homeHeaderShadow;
    animation-duration: 2.0s;
    animation-iteration-count: infinite;
}

#home_header_image
{
    background-color: #111111;
    background-image: url('/images/mountain_op.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-position-y: -100px;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    text-align: center;
}

#home_header_image h1
{
    position: relative;
    text-align: center;
    top: 25%;
    color:white;
    animation-name: homeHeaderShadow;
    animation-duration: 2.0s;
    animation-iteration-count: infinite;
}

#home_header_read_more_button
{
    top:30%;
    position: relative;
    display:  block;
    left: 50%;
    width: 50%;
    text-align: center;
    transition: 0.6s;
    visibility: hidden;
}

#home_header_read_more
{
    position: relative;
    display:  block;
    left:0px;
    background-color: rgb(0,202,255);
    text-decoration: none;
    color:white;
    padding: 12px 20px;
    width: 200px;
    margin-left: -100px;
    height: 50px;
    text-align: center;
    transition: 0.6s;
    animation-name: homeHeaderShow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.5);
}

#home_header_read_more:hover
{
    cursor: hand;
    cursor: pointer;
    background-color: #ff8b00;
    box-shadow: 0px 5px 8px rgba(200,80,0,0.8);
}

/*******************************************************************************/

.home_text
{
    color:#111111;
}

.home_features
{
    padding: 10px;
    background: #60a1c1; 
    background: -moz-radial-gradient(center, ellipse cover, #009fff 0%, #0075ff 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #009fff 0%,#0075ff 100%); 
    background: radial-gradient(ellipse at center, #009fff 0%,#0075ff 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009fff', endColorstr='#0075ff',GradientType=1 );
    border: 1px #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 15px #0045ef;
    text-align: right;
}

.home_features span
{
    text-align: right;
}

.home_features h3
{
    text-align: center;
}

.home_features_center
{
    padding: 10px;
    background: #60a1c1; 
    background: -moz-radial-gradient(center, ellipse cover, #ff8b00 0%, #ff4b00 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ff8b00 0%,#ff4b00 100%); 
    background: radial-gradient(ellipse at center, #ff8b00 0%,#ff4b00 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4b00', endColorstr='#ff8b00',GradientType=1 );
    border: 1px #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 15px #ff4b00;
    text-align: right;
}

.home_features_center span
{
    text-align: right;
}

.home_features_center h3
{
    text-align: center;
}


.home_features h3,.home_features_center h3
{
    color: #ffffff;
    text-shadow: 0px 0px 10px #ffffff;
}
.home_features span,.home_features_center span
{
    color: #eeeeee;
}
.home_features_center span
{
    text-shadow: 0px 0px 5px #000000;
}


.main-content
{
    background-color: #55ccff;
    text-align: right;
    padding:20px;
}

.main-content .table-striped > tbody > tr:nth-child(even) > td,.main-content .table-striped > tbody > tr:nth-child(even) > th {
   background-color: #eeeeee;
}

/******************************************************************************/

#main_menu_bar
{
    display: block;
    position: relative;
    width: 94%;
    left:3%;
    height: 50px;
    top:5%;
    background-color: rgba(0,0,0,0.3);
    margin: 0px;
    padding: 0px;
    z-index: 2;
}

#main_menu_bar *
{
    transition: 0.3s;
}

#main_menu_bar ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow:hidden;
}

#main_menu_bar li
{
    float:right;
    border-left: solid 1px #009fff;
    display: block;
    width: 80px;
    text-align: center;
    padding: 14px 10px;
    margin: 0px;
    cursor: pointer;
    cursor: hand;
}
#main_menu_bar li:hover:not(.active)
{
    background-color: rgba(0,147,235,0.7);
}
#main_menu_bar li:hover:not(.active) *
{
    color: rgb(255,149,30);
}

#main_menu_bar li a
{
    color:white;
    text-decoration: none;
}

#main_menu_bar .active
{
    background-color: rgba(0,202,255,0.9);
    height: 100%;
}

/*******************************************************************************/

#main_menu_bar_float
{
    display: block;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(0,49,78,0.9);
    margin: 0px;
    padding: 0px;
    z-index: 2;
    visibility: hidden;
}

#main_menu_bar_float *
{
    transition: 0.3s;
}

#main_menu_bar_float ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow:hidden;
}

#main_menu_bar_float li
{
    float:right;
    border-left: solid 1px #009fff;
    display: block;
    width: auto;
    min-width: 80px;
    text-align: center;
    padding: 14px 10px;
    margin: 0px;
    cursor: pointer;
    cursor: hand;
}
#main_menu_bar_float li:hover:not(.active)
{
    background-color: rgba(0,147,235,0.7);
}
#main_menu_bar_float li:hover:not(.active) *
{
    color: rgb(255,149,30);
}

#main_menu_bar_float li a
{
    color:white;
    text-decoration: none;
}

#main_menu_bar_float .active
{
    background-color: rgba(0,202,255,0.9);
    height: 100%;
}

/******************************************************************************/

#mobile_menu_bar
{
    position: fixed;
    width: 50%;
    height: 100%;
    left: -50%;
    top: 0px;
    display: block;
    background-color: #222222;
    margin: 0px;
    padding: 0px;
    z-index: 3;
    transition: 0.5s;
    overflow-y: auto;
    
    visibility: hidden;
}

#mobile_menu_bar *
{
    transition: 0.3s;
}

#mobile_menu_bar ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow:hidden;
}

#mobile_menu_bar li
{
    float:right;
    border-bottom: solid 1px #009fff;
    display: block;
    left:0%;
    width: 100%;
    text-align: center;
    padding: 14px 10px;
    margin: 0px;
    cursor: pointer;
    cursor: hand;
}
#mobile_menu_bar li:hover:not(.active)
{
    background-color: rgba(0,147,235,0.7);
}
#mobile_menu_bar li:hover:not(.active) *
{
    color: rgb(255,149,30);
}

#mobile_menu_bar li a
{
    color:white;
    text-decoration: none;
}

#mobile_menu_bar .active
{
    background-color: rgba(0,202,255,0.9);
    height: 100%;
}

#mobile_menu_bar_close
{
    position: fixed;
    top: 4px;
    left: -36px;
    width: 36px;
    height: 36px;
    z-index: 3;
    background-color: #555555;
    text-align: center;
    text-decoration: none;
    color:white;
    font-size: 32px;
    transition: 0.5s;
    
    visibility: hidden;
}
#mobile_menu_bar_close:hover
{
    background-color: #333333;
}

#mobile_menu_bar_close *
{
    text-decoration: none;
    color:white;
}

#mobile_menu_bar_cover
{
    background-color: rgba(0,0,0,0.9);
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    visibility: hidden;
}

#mobile_header_menu
{
    display: block;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(0,49,78,0.9);
    margin: 0px;
    padding: 0px;
    z-index: 2;
    transition: 1.0s;
    
    visibility: hidden;
}

#mobile_header_menu_button
{
    color: white;
    font-size:40px;
    
    visibility: hidden;
}

#mobile_header_menu_button:hover
{
    color: rgba(0,147,235,0.7);
    cursor: hand;
    cursor: pointer;
}

/*******************************************************************************/
#text_content
{
    transition: 0.5s;
}

#home_footer_layout
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,191919+100 */
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(top, #333333 0%, #191919 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #333333 0%,#191919 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #333333 0%,#191919 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#191919',GradientType=0 ); /* IE6-9 */

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    
    text-align: right;
   
    
    color:#0075ff;
    
}

#home_footer_layout *
{
    transition: 0.5s;
}

#home_footer_layout ul
{
    list-style:none;
    padding:2px;
}

#home_footer_layout a
{
    text-decoration: none;
}
#home_footer_layout a:hover
{
    color:#ff8b00;
}


/*******************************************************************************/

@media(max-width:1024px)
{
#home_header_image
{
    height: 85vh;
    background-position-y: -50px;
    background-size: 120%;
}

}

/*******************************************************************************/

@media(max-width:768px)
{
#home_header_image
{
    height:60vh;
    background-position-y: 0px;
    background-size: 140%;
}

#home_header_image h1
{
    position: relative;
    top: 20%;
    color:white;
    font-size: 23pt;
}

#main_menu_bar
{
    visibility: hidden;
}

#mobile_menu_bar
{
    visibility: visible;
}

#mobile_menu_bar_close
{
    visibility: visible;
}

#mobile_header_menu
{
    visibility: visible;
}

#mobile_header_menu_button
{
    visibility: visible;
}

}



